#quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

#questions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

#answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

#start{
    display: flex;
}